body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;

}

.counter {
  margin-left: auto;
  
}

.wordCount-area {
  width: 290px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-right: 50px;
  
}

.wordCount-button {
  width: 295px;
  height: 35px;
  background-color: rgb(37, 142, 222);
  color: white;
  font-size: 18px;
  border: 2px solid rgb(37, 142, 222);
  border-radius: 5px;
  margin-top: 10px;
 
  
}

.wordCount-text {
  font-size: 30px;
  margin-right: auto;
  margin-left: 50px;
}

